
       <h1 style="text-align: center">nosso site</h1>


        <p class="par">Nós do M'Sister Anunciamos nosso Site Oficial!, Veja Nossos Produtos
           Clicando Em Produtos </p>

          <p class="paragrafo">(recomendamos o uso de computador para acessar esse site ou se
            você ter uma resolução pequena ou ajuste o tamanho da tela para 67%)</p>

            <section class="mapa">
            <h3 class="titulo-principal"> <img src="assets/img/tesoura e pente.png" class="imagemtep"> Nosso Estabelecimento</h3>
            <p> Fique Atento A Atualizações Do Nosso Site!, Podemos Mudar o Salão De Lugar A Qualquer Hora</p>
                                                <p class="estabe">Estamos Fechados Até Segunda Ordem</p>

            </section>
        <h2>Beneficios</h2>

        <p>Os Beneficios Do M'Sister Não São Poucos! Veja:</p>

        <section class="conteudobene">
        <ul class="listabene">

            <p class="itensbene">Profissionais Qualificados</p>
            <p class="itensbene">Espaço Confortavel</p>
            <p class="itensbene">Atendimento Claro Ao Cliente</p>
            <p class="itensbene">Localização</p>
            <p class="itensbene">Pontualidade</p>
            <p class="itensbene">Limpeza Profunda</p>
        </ul> <img src="assets/img/corte.jpg" class="imagembene">

        </section>

        <header>
            <div class="kaixa">
            <nav>
                <ul>
                <li><a href="index.html" class="botao">home</a></li>
                <li><a href="produtos.html" class="botao">produtos</a></li>
                <li><a href="contato.html" class="botao">contato</a></li>
                <li><a href="photo/photo.component.ts" class="botao">Fotos</a></li>
                </ul>
            </nav>
        </div>

        <footer>
        </footer>
     </header>
