     <body>
<header>
    <nav>

    <ul class="navegacao">
      <li class="navbuton"><a href=".//contatos">contatos</a></li>
      <li class="navbuton"><a href=".//home">Home</a></li>
    </ul>
    </nav>
</header>

<main>
    <ul class="produtos">
        <li>
            <h2 class="parte">progressiva masculina</h2>
            <img src="assets/img/corte mascu.png" class="masc">
            <p class="descricao">fazemos com orgulho e com pregressiva masculina de marca</p>
            <p class="preco">a partir de R$50,00</p>
        </li>
        <li>
            <h2 class="parte">corte feminino</h2>
            <img src="assets/img/corte femi.png" class="Cabelo">
            <p class="descricao">nosso corte princípal</p>
            <p class="preco">a partir R$,35,00</p>
        </li>
        <li>
            <h2 class="parte">progressiva masculina+corte feminino</h2>
            <img src="assets/img/bongo cat.png" class="pacote">
            <p class="descricao">um conjunto de espetaculos</p>
            <p class="preco">a partir deR$70,00</p>
        </li>
    </ul>
</main>
    <h3>
        <main>
        <ul class="produtos">
            <li>
                <h3 class="parte">progressiva</h3>
                <img src="assets/img/progressiva.png" class="progressiva">
                <p class="descricao">a melhor progressiva da região</p>
                <p class="preco">a partir de R$100,00</p>
            </li>
            <li>
                <h3 class="parte">botox</h3>
                <img src="assets/img/btx.png" class="botox">
                <p class="descricao">cabelos sem volume e sem frizz</p>
                <p class="preco">R$ a partir de R$60,00</p>
            </li>
        </ul>
    </main>
    </h3>

    <footer>
        <img src="assets/img/logotipo.png" class="imgfo">
        <p class="copyright">© copyright M'Sister - 2015</p>
    </footer>
    </body>
