*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1 {
    color: whitesmoke;
    position:relative;
    padding-left: 150px;
    padding-top: 50;
    padding-right: 5px;
    padding-bottom: 5px;
}

.antes{
    position:absolute;
    width: 250px;
    height: 250px;
    top: 100px;
} 
.parantes{
    position:absolute;
    top:350px;
    color: whitesmoke;
    width: 250px;
    height: 20px;
    padding: 1px 20px 10px 20px;
    
 
}
.depois{
    position:absolute;
    width: 250px;
    height: 250px;
    top: 100px;
    margin-left: 260px;
}
.pardepois{
    position:absolute;
    top:350px;
    color: whitesmoke;
    width: 250px;
    padding: 1px 20px 10px 20px;
    margin-left: 320px;
}

.antes1{
    position:absolute;
    width: 250px;
    height: 250px;
    top: 100px;
    margin-left: 550px;
} 
.parantes1{
    position:absolute;
    top:350px;
    margin-left: 640px;
    color: whitesmoke;
    width: 250px;
    height: 20px;
    padding: 1px 20px 10px 20px;
}

.depois1{
    position:absolute;
    width: 250px;
    height: 250px;
    top: 100px;
    margin-left: 810px;
}

.pardepois1{
    position:absolute;
    top:350px;
    margin-left: 900px;
    color: whitesmoke;
    width: 250px;
    height: 20px;
    padding: 1px 20px 10px 20px;
}

.antes2{
    position:absolute;
    width: 250px;
    height: 250px;
    top: 400px;
} 
.parantes2{
    position:absolute;
    top:650px;
    left: 150px;
    color: whitesmoke;
    width: 250px;
    height: 20px;
    padding: 1px 20px 10px 20px;    
 
}
.depois2{
    position:absolute;
    width: 250px;
    height: 250px;
    top: 400px;
    margin-left: 260px;
}
.pardepois2{
    position:absolute;
    top:650px;
    color: whitesmoke;
    width: 250px;
    padding: 1px 20px 10px 20px;
    margin-left: 320px;
}

.antes3{
    position:absolute;
    width: 250px;
    height: 250px;
    top: 400px;
    margin-left: 550px;
} 
.parantes3{
    position:absolute;
    top:650px;
    margin-left: 640px;
    color: whitesmoke;
    width: 250px;
    height: 20px;
    padding: 1px 20px 10px 20px;
}

.depois3{
    position:absolute;
    width: 250px;
    height: 250px;
    top: 400px;
    margin-left: 811px;
}

.pardepois3{
    position:absolute;
    top:650px;
    margin-left: 900px;
    color: whitesmoke;
    width: 250px;
    height: 20px;
    padding: 1px 20px 10px 20px;
}