
<div class="div1"><!--primeira divisão-->
    <div><!--segunda divisão linha-->
        <div><!--terceira divisão dupla-->
             <div> <!--quarta divisão individual-->
               <img src="./assets/fotos-clientes/maria_antes20220415.jpg" class="antes">
               <p class="parantes">ANTES</p>
             </div>   <!--quarta divisão individual-->
        
             <div><!--quarta divisão individual-->
               <img src="./assets/fotos-clientes/maria_depois20220415.jpg" class="depois">
               <p class="pardepois">DEPOIS</p>
            </div><!--quarta divisão individual-->
        </div><!--terceira divisão dupla-->
        <div><!--terceira divisão dupla-->
          <div><!--quarta divisão individual-->
            <img src="./assets/fotos-clientes/maria_antes20220415.jpg" class="antes1">
            <p class="parantes1">ANTES1</p>
          </div><!--quarta divisão individual-->
          <div><!--quarta divisão individual-->
            <img src="./assets/fotos-clientes/maria_depois20220415.jpg" class="depois1">
            <p class="pardepois1">DEPOIS1</p>
        </div> <!--quarta divisão individual-->
    </div> <!--segunda divisão linha-->
    <div><!--segunda divisão linha-->
        <div><!--terceira divisão dupla-->
             <div> <!--quarta divisão individual-->
               <img src="./assets/fotos-clientes/maria_antes20220415.jpg" class="antes2">
               <p class="parantes2">ANTES2</p>
             </div>   <!--quarta divisão individual-->
             <div><!--quarta divisão individual-->
               <img src="./assets/fotos-clientes/maria_depois20220415.jpg" class="depois2">
               <p class="pardepois2">DEPOIS2</p>
            </div><!--quarta divisão individual-->
        </div><!--terceira divisão dupla-->
        <div><!--terceira divisão dupla-->
          <div><!--quarta divisão individual-->
            <img src="./assets/fotos-clientes/maria_antes20220415.jpg" class="antes3">
            <p class="parantes3">ANTES3</p>
          </div><!--quarta divisão individual-->
          <div><!--quarta divisão individual-->
            <img src="./assets/fotos-clientes/maria_depois20220415.jpg" class="depois3">
            <p class="pardepois3">DEPOIS3</p>
         </div> <!--quarta divisão individual-->
        </div><!--terceira divisão dupla-->
    </div> <!--segunda divisão linha-->
</div> <!--primeira divisão-->

