*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1 {
    color: whitesmoke;
    position:relative;
    padding-left: 150px;
    padding-top: 50;
    padding-right: 5px;
    padding-bottom: 5px;
}

.antes{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 100px;
} 
.parantes{
    position:absolute;
    top:400px;
    color: whitesmoke;
    width: 250px;
    height: 20px;
    padding: 10px 30px 10px 20px;
    margin-left: 90px;  
 
}
.depois{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    margin-left: 350px;
}
.pardepois{
    position:absolute;
    top:400px;
    color: whitesmoke;
    width: 250px;
    padding: 10px 30px 10px 20px;
    margin-left: 430px;
}

.antes1{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    margin-left: 700px;
} 
.parantes1{
    position:absolute;
    top:400px;
    margin-left: 790px;
    color: whitesmoke;
    width: 300px;
    height: 20px;
    padding: 10px 30px 10px 20px;
}

.depois1{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    margin-left: 1050px;
}

.pardepois1{
    position:absolute;
    top:400px;
    margin-left: 1130px;
    color: whitesmoke;
    width: 300px;
    height: 20px;
    padding: 10px 20px 10px 20px;
}

.antes2{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 450px;
} 
.parantes2{
    position:absolute;
    top:750px;
    left: 200px;
    color: whitesmoke;
    width: 300px;
    height: 20px;
    padding: 10px 20px 10px 20px;    
 
}
.depois2{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 450px;
    margin-left: 350px;
}
.pardepois2{
    position:absolute;
    top:750px;
    color: whitesmoke;
    width: 300px;
    padding: 10px 20px 10px 20px;
    margin-left: 430px;
}

.antes3{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 450px;
    margin-left: 700px;
} 
.parantes3{
    position:absolute;
    top:750px;
    margin-left: 800px;
    color: whitesmoke;
    width: 300px;
    height: 20px;
    padding: 10px 20px 10px 20px;
}

.depois3{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 450px;
    margin-left: 1051px;
}

.pardepois3{
    position:absolute;
    top:750px;
    margin-left: 1130px;
    color: whitesmoke;
    width: 300px;
    height: 20px;
    padding: 10px 20px 10px 20px;
}