body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 10px ;
    
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
    color:whitesmoke
}

nav li {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
}

.kaixa {
    position: relative;
    width: 940px;
}

.botao {
    color: whitesmoke;
}


.botao:hover {
    transition: 1s all;
    background-color: #2b2929;
    border-radius: 5px;
}


.par {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
}

.para {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 22px;
}

.imgt {
    width: 100px;
}

.parag {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.conteudobene {
    width: 640px;
}

.listabene {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
}

.itensbene {
    line-height: 1.5;
    font-size: 20px;
}

.itensbene::before {
    content: "★";
}

.itensbene:first-child {
    font-weight: bold;
}

.imagembene {
    position: absolute;
    display: inline-block;
    padding: 10px 200px 5px 30px;
    width: 350px;
    height: 300px;
    margin: 20px 5px 10px;
    box-shadow: 10px 10px 16px;
}

.imagemtep {
    width: 200px;
    filter: opacity(0.4) drop-shadow(0 0 0 whitesmoke);
    margin-left: 250px;
}

@media screen and (max-width: 480px) {
    .kaixa {
        width: auto;
    }
}

.paragrafo {
    font-size: 25px;
}

.imagemsis {
    filter: opacity(0.4) drop-shadow(0 0 0 #000000);

}

.estabe {
    margin-left: 235px;
}

.estabe::before {
    content: "×";
}

.estabe::after {
    content: "×";
}

.copyr {
  width: 350px;
}

.fotohome {
    margin-left: 50px;
    width: 600px;
    height: 400px;
}